*{
margin:0;
padding:0;
box-sizing:border-box;	
}
body{
margin:0;
padding:0;

}
.container{
	background:#E4F9F5;
	max-width:1000px;
	margin:0 auto;
	padding:30;
	padding:30;
	cursor:pointer;
	
}
.container a{
	text-decoration:none;
	
}
.profile img{
	
	height:120px;
	width:100px;
	border:3px solid white;
	border-radius:50%;
	float:left;
}
h1,h2,h3,h4,h5,h6{
	color:#11999e;
	
}
.header-bio{
float:left;
padding:30px;
}
.header-contac{
	float:right;
	padding:30px;
}
.header-contac a{
	color:teal;
	font-weight:bold;;
	
}
.header-contac a:hover{
text-decoration:underline;	
color:tomato;	
}
.div-clrar{
clear:both;
	
}
hr{
	border:3px solid black;
	margin:20px auto;
	width:100%;
	border-bottom:none;
	border-bottom:none;
	
}
/* main sectio start */

.main-container{
	
margin-bottom:30px;	
	
}
.Work-section-left, .Education-section-left
.personal-section-left{
float:left;
width:30%;
	
	
}
.Work-section-right, .Education-section-right,
.personal-section-right{
	
	float:right;
width:70%;
	
}
.common-hr{
margin:20px auto;
border-bottom:none;
	border:1px solid black;
}
.education-left{
	width:45%;
	float:left;
}
.education-right{
	float:right;
	width:45%;
}



/* footer-container start */

.footer-container{
background:black;
	text-align:center;
	padding:20px;
	
}
.footer-container a{
	color:white;
	margin:20px;
	
}
.footer-container p{
	margin-top:20px;
	color:white;
	
}